---
layout: blog_entry
---

    <div id="fh5co-main">
        <div class="fh5co-intro text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="intro-lead">{{ page.title }}</h1>
                        <p class="">{{ page.shortdescription }}</p>
                        <img src="{{site.url}}/blog/img/separator.png">
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-3">
                                <h3>{{ page.leftsidetitle }}</h3>
                                <p>{{ page.leftside }}</p>
                                <ul class="fh5co-list-check">
                                    {% for tag in page.tags %}
                                    <li>{{ tag }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <p >{{ content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>