<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122341796-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122341796-1');
    </script>
    <title>WagDog Games</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Griffin Brodman">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{site.url}}/css/kube.min.css" />
    <link rel="stylesheet" href="{{site.url}}/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{site.url}}/css/custom.min.css" />
    <link rel="shortcut icon" href="{{site.url}}/img/favicon.png" />
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
				<nav class="navbar logo-w navbar-left" >
					<a class="logo" href="index.html">WagDog Games</a>
				</nav>
				<div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
				    <span class="logo">WagDog Games</span>
				</div>
			    <nav id="navbar-1" class="navbar item-nav navbar-right">
				    <ul>
				        <li><a href="{{site.url}}">Home</a></li>
				        <li><a href="{{site.url}}/blog">Blog</a></li>
				    </ul>
				</nav>
			</header>
		</div>
	</div>


    {{content}}
    

	<footer>
		<div class="container">
			<div class="units-row">
				<div class="unit-50">
			    	<!-- <button class="btn btn-black" href="index.html"><i class="fa fa-arrow-left"></i> PREVIOUS</button> -->
			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
						<li><a href="mailto:team@wagdoggames.com"><i class="fa fa-send"></i></a></li>
						<li><a href="http://twitter.com/wagdoggames"><i class="fa fa-twitter"></i></a></li>
						<!-- <li><a href="http://facebook.com/wagdoggames"><i class="fa fa-facebook"></i></a></li> -->
					</ul>
			    </div>
			</div>
			<p class="text-centered foot-cp">
	    		<a href="#"></a>
	    	</p>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="{{site.url}}/js/jquery.min.js"></script>
    <script src="{{site.url}}/js/kube.min.js"></script>
</body>
</html>
